.banner--image img {
  z-index: 0;
  margin: 20px;
}

.main-div {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}

.main-div .div2 {
  margin: 30px;
  display: flex;
  flex-direction: column;
}

.btn-l {
  align-self: center;
  padding: 10px;
  color: white;
  background: black;
  width: 120px;
}
.btn-l:hover {
  background-color: dimgray;
  color: aliceblue;
}
